<div id="background">
  <div id="result"></div>
  <div id="main">
    <div class="first-row">
      <button class="btn-style opera-bg value align operator" {{action "input" "+" on="mouseUp"}}>+</button>
      {{input value=number type="number" id="number" placeholder="Type here"}}
    </div>
    <div class="row">
      <div id="query"></div>
    </div>
  </div>
</div>
